{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Default Value
        {% endblock  %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>this is our navbar</nav>
    {% block content %}{% endblock  %}
    {% comment %} {% load static %} ye basically "load likhne pe aa jata hai" {% endcomment %}
    {% comment %} ye block likhne pe aa jata hai basically shortcuts hai bas {% block  %}{% endblock  %} {% endcomment %}
</body>
</html>